<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="column">
            <h2>Cadastrar Alimentos</h2>
            <button class="button" (click)="mostrarTelaCadastroAlimentos(true); mostrarTelaVendas(false);">Gerenciar Alimento</button>
        </div>
        <div class="column">
            <h2>Lista de Alimentos Vendidos</h2>
            <button class="button" (click)="mostrarTelaCadastroAlimentos(false); mostrarTelaVendas(true);" >Ver Alimentos Vendidos</button>
        </div>
    </div>
</body>

</html>